<div class="sidenav">
  <div class="header"></div>
  <a href="#"
    ><div><img src="/assets/images/fi_home.svg" alt="" /></div>
    Dashboard</a
  >
  <a href="#" class="active"
    ><div><img src="/assets/images/fi_truck.svg" alt="" /></div>
    Cars</a
  >
</div>

<div class="sidenav2">
  <div class="nav">
    <a href="/car">Cars</a>
  </div>
  <div class="nav">
    <a class="active" href="/car/list">List Car</a>
  </div>
</div>
