a {
  text-decoration: none;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 70px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0d28a6; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav .header {
  width: 34px;
  height: 34px;
  left: 18px;
  top: 18px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 30px;

  /* Primary/DarkBlue/01 */

  background: #cfd4ed;
}
/* The navigation menu links */

.sidenav a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  display: block;
}

.sidenav .active {
  color: #f8f8f8;
  background: rgba(255, 255, 255, 0.3);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f8f8f8;
  background: rgba(255, 255, 255, 0.3);
}

.sidenav2 {
  position: absolute;
  margin-left: 70px;
  margin-top: 70px;
  padding-top: 18px;
}
.sidenav2 a {
  display: fixed;
  font-weight: 700;
  color: black;
  flex-direction: row;
  align-items: center;
  padding: 11px 24px;
}
.sidenav2 a:hover {
  background: #cfd4ed;
  color: #8a8a8a;
}
.sidenav2 .active {
  background: #cfd4ed;
  color: #8a8a8a;
}
.sidenav2 .nav a {
  width: 220px;
}

/* Style page content */
.main {
  margin-left: 290px;
  padding: 0px 10px;
  height: 100%;
  background: #e5e5e5;
  padding-bottom: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.topnav {
  overflow: hidden;
  background-color: white;
  height: 70px;
  align-items: center;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: #04aa6d;
  color: black;
}

.topnav .icon {
  display: none;
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  margin-top: 18px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}

.main .wrapper {
  padding-top: 32px;
  padding-left: 25px;
  padding-right: 24px;
}
.breadcrumb a {
  text-decoration: none;
  color: black;
}

.breadcrumb a:hover {
  text-decoration: none;
  color: blue;
}

.main .title {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.category {
  margin-top: 24px;
}

.card-car {
  margin-top: 24px;
}
.card-car .img-car {
  margin-top: 31px;
  margin-bottom: 31px;
  margin-left: 16px;
  margin-right: 16px;
}
.card-car .card {
  margin-bottom: 24px;
}
.card-car .card-body {
  padding: 24px;
}

.btn-car {
  width: 143.5px;
  height: 48px;
}
