<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>Binar - Challenge 5</title>
  </head>
  <body>
    <sidebar><%- include('../../includes/sidebar') %></sidebar>

    <topbar><%- include('../../includes/topbar') %></topbar>

    <div class="main">
      <div class="wrapper">
        <!-- Breadcrumbs -->
        <div class="row">
          <div class="breadcrumb">
            <b>
              <a href="">Cars</a>
              <span style="margin-right: 10px; margin-left: 10px">></span>
              <a href="">List Car</a>
              <span style="margin-right: 10px; margin-left: 10px">></span>
            </b>
            <a href="">Add New Car</a>
          </div>
        </div>
        <!-- Title -->
        <div class="row d-flex justify-content-between">
          <div class="col title">Add New Car</div>
        </div>

        <div class="row" style="margin-top: 16px">
          <form action="http://localhost:3000/car/create" method="POST">
            <div class="card">
              <div class="card-body">
                <div class="row mb-3" style="margin-top: 16px">
                  <div class="col-2">Nama</div>
                  <div class="col-4">
                    <input
                      id="name"
                      name="name"
                      class="form-control"
                      type="text"
                      placeholder="Masukkan Nama"
                      aria-label="default input example"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">Type</div>
                  <div class="col-4">
                    <input
                      id="type"
                      name="type"
                      class="form-control"
                      type="text"
                      placeholder="Masukkan Tipe"
                      aria-label="default input example"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">Harga</div>
                  <div class="col-4">
                    <input
                      id="price"
                      name="price"
                      class="form-control"
                      type="number"
                      placeholder="Masukkan Harga"
                      aria-label="default input example"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">Foto</div>
                  <div class="col-4">
                    <div class="input-group mb-3">
                      <input
                        type="file"
                        class="form-control"
                        id="path"
                        name="path"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">Start Rent</div>
                  <div class="col-4">-</div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">Finish Rent</div>
                  <div class="col-4">-</div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">Created At</div>
                  <div class="col-4">-</div>
                </div>
                <div class="row mb-3">
                  <div class="col-2">Updated At</div>
                  <div class="col-4">-</div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-start p-0">
              <button
                class="btn border border-primary btn-light btn-car"
                style="margin-right: 16px"
              >
                Cancel
              </button>
              <button type="submit" class="btn btn-primary btn-car">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
  </body>
</html>
