<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>Binar - Challenge 5</title>
  </head>
  <body>
    <sidebar><%- include('../../includes/sidebar') %></sidebar>

    <topbar><%- include('../../includes/topbar') %></topbar>

    <div class="main">
      <div class="wrapper">
        <!-- Breadcrumbs -->
        <div class="row">
          <div class="breadcrumb">
            <a href="">Cars</a>
          </div>
        </div>
        <!-- Title -->
        <div class="row d-flex justify-content-between">
          <div class="col title">Cars</div>
        </div>
      </div>
    </div>
    <script src="/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
  </body>
</html>
