<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>Binar - Challenge 5</title>
  </head>
  <body>
    <sidebar><%- include('../../includes/sidebar') %></sidebar>

    <topbar><%- include('../../includes/topbar') %></topbar>
    <div class="main">
        <div class="wrapper">
          <!-- Breadcrumbs -->
          <div class="row">
            <div class="breadcrumb">
                <b>
              <a href="">Cars</a>
              <span style="margin-right: 10px; margin-left: 10px;">></span>
                </b>
              <a href="">List Car</a>
            </div>
          </div>
          <!-- Title -->
          <div class="row d-flex justify-content-between">
            <div class="col title">List Car</div>
            <div class="col d-flex justify-content-end">
              <a href="/car/create" type="button" class="btn btn-primary">+ Add New Car</a>
            </div>
          </div>
      
          <!-- Category -->
          <div class="row d-flex align-item-start category">
            <div class="col p-0">
              <button class="btn btn-primary border me-3">All</button>
              <button class="btn btn-light border me-3">Small</button>
              <button class="btn btn-light border me-3">Medium</button>
              <button class="btn btn-light border">Large</button>
            </div>
          </div>
      
          <!-- Card Car  -->
          <div class="row card-car">
            <% for(var i=0; i<datas.length; i++) {%>
            <div class="col-3">
              <div class="card">
                <div class="card-body">
                  <img class="img-car" src="/assets/images/cars.png" alt="" />
                  <p><%= datas[i].name %> /<%= datas[i].type %></p>
                  <p style="font-weight: 700;">Rp <%= datas[i].price %> / hari</p>
                  <p><img src="/assets/images/fi_key.png" style="height: 20px; margin-right: 8px;" alt="">Start rent - Finish rent</p>
                  <p><img src="/assets/images/fi_clock.png" style="height: 20px; margin-right: 8px;" alt="">Updated at <%= datas[i].updatedAt%></p>
                  <div class="d-flex justify-content-center">
                    <form method="POST" action="<%=`/car/destroy/${datas[i].id}
                    ?_method=DELETE`%>">
                        <button type="submit"
                            class="btn border border-danger btn-light btn-car"
                            style="margin-right: 16px"
                            >
                            Delete
                        </button>
                    </form>
                    <button class="btn btn-success btn-car">Edit</button>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
    </div>
    <script src="/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
  </body>
</html>
